/* general */
* {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #73bc73;
    border: none;
    border-radius: 4px;
    transition: 0.1s;
}

button:hover {
    transition: 0.1s;
    filter: brightness(80%)
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #232121;
    color: #ffffff;
}

/* bmi info */
#bmi-info {
    padding: 20px;
}

/* modal */
.modal {
    border-radius: 4px;
}

.modal::backdrop {
    background-color: #000000;
    opacity: 0.4;
}

/* form */
.form-actions {
    display: flex;
    justify-content: flex-end;
    width: 1005;
}

.bmi-form-header {
    display: flex;
}

.bmi-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#calculation-info {
    display: flex;
    flex-direction: column;
}

#close-modal {
    display: block;
    margin: auto 0;
}

/* tracking info */
.title {
    font-size: 30px;
    margin-bottom: 15px;
}

.tracking-info {
    padding: 20px;
}